.App {
  text-align: center;
  justify-content: center;
}

div.route-container {
  position: absolute;
  width: 100%;
}

div.route {
  position: relative;
  margin: auto;
  width: 60%;
  border-style: solid;
}

div.dashboard {
  position: absolute;
  left: 82.5%;
  top: 10%;
  width: 15%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  overflow: auto;
  border-style: solid;
  padding-top: .75%;
  background-color: #e1e2e3;
}

div.hold-card {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  margin: 2%;
  padding: 5%;
  border-radius: 10px;
  z-index: 0;
  cursor: move;
  background-color: white;
}

p.hold-card {
  margin: 5%;
  font-weight: bold;
  pointer-events: none;
}

p.position {
  position: absolute;
  font-size: 15px;
  top: 1%;
  left: 1%;
  margin: 2%;
}

p.close {
  color: grey;
  font-size: 15px;
  position: absolute;
  top: 1%;
  right: 1%;
  margin: 2%;
  cursor: pointer;
  pointer-events: auto;
}

textarea.hold-card {
  width: 90%;
  margin: auto;
}

img.route {
  width: 100%;
  height: auto;
}

div.hold {
  width: 2.5%;
  padding-top: 2.5%;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

div.hold-bubble {
  border-radius: 50%;
  width: 1000%;
  padding-top: 1000%;
  left: -450%;
  top: -450%;
  position: absolute;
  text-align: center;
}

div.hold-details {
  position: absolute;
  text-align: center;
  left: -90%;
  top: 125%;
}

span.hold {
  font-weight: bold;
  font-size: 100%;
  cursor: default;
}

div.tool-box {
  position: absolute;
  width: 20%;
  border-style: solid;
}

button.tool-box {
  width: 100%;
}

span.crux {
  font-size: 150%;
  font-weight: bolder;
  position: absolute;
  cursor: pointer;
}
