.app {
  text-align: center;
}

.header {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 1%;
  height: 75px;
  background: #d6d6d6;
}

#title {
  font-size: 40px;
  margin-left: 0;
}

.header a {
  font-size: 20px;
  margin: 0 .5em;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header a:hover {
  color: #fffdbd;
}

.left {
  margin-left: 1%;
}

.right {
  margin-left: auto;
}

.content {
  height: 800px;
}

.route {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  position: relative;
  margin: auto;
  border-style: solid;
}

.route img {
  width: 100%;
  height: auto;
}

.dashboards {
  display: inline-block;
  margin: 2%;
  width: 25%;
  height: 100%;
}

.hold-dashboard {
  position: relative;
  align-items: center;
  width: 100%;
  height: 60%;
  margin: auto;
  overflow: auto;
  border-style: solid;
  background-color: #e1e2e3;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hold-dashboard button {
  margin: auto;
}

.hold-card {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  margin: 3% auto;
  padding: 5%;
  border-radius: 10px;
  z-index: 0;
  cursor: move;
  background-color: white;
}

.hold-card p {
  font-size: 15px;
  margin: 5%;
  font-weight: bold;
}

.hold-card-position {
  position: absolute;
  top: 1%;
  left: 1%;
}

.hold-card-close {
  color: grey;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}

.hold-card textarea {
  width: 90%;
  margin: auto;
}

.hold {
  width: 2.5%;
  padding-top: 2.5%;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

.hold-details span {
  font-weight: bold;
  font-size: 100%;
  cursor: default;
}

.hold-container {
  border-radius: 50%;
  width: 3000%;
  padding-top: 3000%;
  left: -1500%;
  top: -1500%;
  position: absolute;
}

div.hold-details {
  position: absolute;
  text-align: center;
  left: -90%;
  top: 125%;
}

div.tool-box {
  position: absolute;
  width: 20%;
  border-style: solid;
}

.tool-box button {
  width: 100%;
}

.crux {
  font-size: 150%;
  font-weight: bolder;
  position: absolute;
  cursor: pointer;
}

.beta-dashboard {
  width: 100%;
  height: 40%;
  margin: 5px auto;
  overflow: auto;
  border: solid black;
}

.beta-dashboard-content {
  display: flex;
  flex-direction: row;
}

.beta-dashboard-column {
  box-sizing: border-box;
  width: 50%;
  margin: 5%;
}

.beta-list {
  height: 60%;
  overflow: scroll;
}

.beta-card {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  border: solid black;
  opacity: 0.5;
  cursor: pointer;
}

.beta-card:hover {
  opacity: 1.0;
}

.beta-card p {
  margin: 5px;
}

.login {
  border: solid black;
}

.login input {
  display: block;
  margin: 1% auto;
}

.register {
  border: solid black;
}

.register input {
  display: block;
  margin: 1% auto;
}
