.App {
  text-align: center;
  justify-content: center;

}

div.route-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.route {
  position: relative;
  margin: auto;
  /* margin-left: 10%;
  margin-right: 5%; */
  width: 60%;
  border-style: solid;
}

div.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 0;
  overflow: auto;
  border-style: solid;
  padding-top: .75%;
  margin-left: 0;
  margin-right: 5%;
  background-color: #e1e2e3;
}

div.touch-node-card {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  /* height: 10%; */
  margin: 2%;
  padding: 5%;
  border-radius: 10px;
  z-index: 0;
  cursor: move;
  background-color: white;
}

p.touch-node-card {
  margin: 0;
  font-weight: bold;
  pointer-events: none;
}

p.id {
  position: absolute;
  top: 2%;
  left: 2%;
}

p.close {
  color: grey;
  font-size: 12.5px;
  margin-right: 2%;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  pointer-events: auto;
}

input.touch-node-card {
  width: 90%;
  margin: auto;
}

img.route {
  width: 100%;
  height: auto;
}

div.touch-node {
  width: 2.5%;
  padding-top: 2.5%;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

div.touch-node-bubble {
  border-radius: 50%;
  width: 1000%;
  padding-top: 1000%;
  left: -450%;
  top: -450%;
  position: absolute;
  text-align: center;
}

div.touch-node-details {
  position: absolute;
  text-align: center;
  left: -90%;
  top: 125%;
}

span.touch-node {
  font-weight: bold;
  font-size: 100%;
  cursor: default;
}

button.touch-node {
}

div.tool-box {
  position: absolute;
  width: 20%;
  border-style: solid;
}

button.tool-box {
  width: 100%;
}

.image-zoom {
  position: absolute;
  width: 100px;
  height: 100px;
  border-style: solid;
}

img.crux-node {
  position: absolute;
  width: 5%;
  cursor: pointer;
}

img.crux-node:hover {

}
