.App {
  text-align: center;
  justify-content: center;
}

div.route-container {
  position: absolute;
  width: 100%;
}

div.route {
  position: relative;
  margin: auto;
  width: 60%;
  border-style: solid;
}

img.route {
  width: 100%;
  height: auto;
}

div.touch-node {
  border-style: solid;
  width: 3%;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

img.touch-node {
  width: 100%;
  pointer-events: none;
}

div.touch-node-details {
  position: absolute;
  text-align: center;
}

span.touch-node {
  font-weight: bold;
  cursor: default;
}

button.touch-node {
}

div.tool-box {
  position: absolute;
  width: 20%;
  border-style: solid;
}

button.tool-box {
  width: 100%;
}

.image-zoom {
  position: absolute;
  width: 100px;
  height: 100px;
  border-style: solid;
}

img.crux-node {
  position: absolute;
  width: 5%;
  cursor: pointer;
}

img.crux-node:hover {

}
