.App {
  text-align: center;
  justify-content: center;
}

.route {
  position: relative;
  margin: auto;
  width: 90%;
  height: 90%;
}

.route-img {
  width: 100%;
  height: auto;
}

.touch-point {
  width: 3%;
  position: absolute;
}

.tool-box {
  position: absolute;
  width: 100px;
  height: 100px;
  border-style: solid;
}

.image-zoom {
  position: absolute;
  width: 100px;
  height: 100px;
  border-style: solid;
}

img.crux-node {
  position: absolute;
  width: 5%;
}

img.crux-node:hover {
  border-style: solid;
}
